body{
    background-image: url("Assets/TheTimeGameSS.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #333f30;
    position: fixed;
}

header div{
    display: flex;
}

footer{
    width: 100vw;
    background-color: #333f30;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -24vw;
    height: 50vw;
}

.AboutMe{
    width: 100vw;
    background-color: #6B8F71;
    margin: 0%;
    padding: 0;
    position: absolute;
    bottom: -90%;
    height: 90%;
}

h1{
    font-family: Major Mono Display;
    font-size: 10vw;
    text-align: center;
    margin: 20px;
    padding: 0;
    color: #6B8F71;
}

h2{
    font-family: Major Mono Display;
    font-size: 10vw;
    text-align: center;
    margin: 1;
    padding: 0;
    color: #6B8F71;
}

h3{
    font-family: Major Mono Display;
    font-size: 3vw;
    text-align: left;
    margin-left: 3vw;
    padding: 0;
    color: #6B8F71;
}

a{
    font-family: Major Mono Display;
    text-decoration: none;
    color: #6B8F71;
}

.a{
    text-align: center;
    margin: 1;
    padding: 5px;
    color: #333f30;
    display: block;
}

.ab{
    text-align: left;
    margin-left: 10px;
    margin: 10px;
}

.h2{
    font-family: Major Mono Display;
    font-size: 10vw;
    text-align: center;
    margin: 1;
    padding: 0;
    color: #333f30;
}

.sidenav{
    height: 100vh;
    width: 25vw;
    background-color: black;
}

@media screen and (min-width: 500px) {
    footer{
        bottom: -15vw;
        height: 28vw;
    }
    .AboutMe{
        height: 90%;
        bottom: -90%;
    }
    h1, h2{
        font-size: 5vw;
    }
    h3{
        font-size: 2vw;
        text-align: center;
        margin-left: 0;
    }
    .h2{
        font-size: 5vw;
    }
    .a{
        font-size: 2vw;
    }
  }